<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

    <h1>File System Based Chat</h1>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/registration">Registration</a>
        <a href="/chat">Chat</a>
        <a href="/parsing">Parsing</a>
        <a href="/logout">Logout</a>
    </div>

</head>
<body>

<hr>

<h2> <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b> input id and star to chat</h2>

        <form action="/chat" method="post">
            <table style="with: 50%">
                <tr>
                    <td>Recipient ID</td>
                    <td><input type="text" name="userTo_id"/></td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td><input type="text" name="text"/></td>
                </tr>
            </table>
            <input type="submit" value="Send"/>
        </form>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>sender</th>
                <th>recipient</th>
                <th>text</th>
                <th>date</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message: ${listHistory}">
                <td th:text="${message.senderId}"></td>
                <td th:text="${message.toUser}"></td>
                <td th:text="${message.content}"></td>
                <td th:text="${message.date}"></td>
                <td>                           </td>
                <td>                           </td>
            </tr>
            </c:forEach>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>