<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <script type="text/javascript" src="/js/script.js"></script>

    <h1>File System Based Chat</h1>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/registration">Registration</a>
        <a href="/chat">Chat</a>
        <a href="/parsing">Parsing</a>
        <a href="/logout">Logout</a>
    </div>

</head>
<body>

<hr>

<h2><b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b> input id and star to chat</h2>

<form action="/chat" method="post">
    <table style="with: 50%">
        <tr>
            <td>Recipient ID</td>
            <td><input type="text" name="userTo_id"/></td>
        </tr>
        <tr>
            <td>Text</td>
            <td><input type="text" name="text"/> <input type="submit" value="Send"/></td>
        </tr>
    </table>
</form>

<br>

<table>
    <tbody th:each="message : ${listHistory}" th:remove="tag">
    <tr>
        <td colspan="3">
            <hr>
        </td>
    </tr>

    <tr>
        <td th:text="from + ' ' + ${message.senderId}">...</td>
        <td>
            <form th:action="@{/edit}" th:object="${message}" method="post">
                <input type="hidden" name="senderId" th:value="${message.senderId}">
                <input type="hidden" name="toUser" th:value="${message.toUser}">
                <input type="text" name="content" th:value="${message.content}">
                <input type="hidden" name="date" th:value="${message.date}">
                <button type="submit">&#9745;</button>
            </form>
        </td>
        <td>
            <form id="delete-form" th:action="@{/delete}" th:object="${message}" method="post">
                <input type="hidden" name="senderId" th:value="${message.senderId}">
                <input type="hidden" name="toUser" th:value="${message.toUser}">
                <input type="hidden" name="content" th:value="${message.content}">
                <input type="hidden" name="date" th:value="${message.date}">
                <button type="submit">&#9746;</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right" colspan="3" rowspan="2" th:text="${message.date}"></td>
    </tr>

    <td></td>

    </tbody>
</table>

</body>
</html>