<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

    <title>File System Based Chat</title>
</head>
<body>
<div class="wrapper">
    <h1>File System Based Chat</h1>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/registration">Registration</a>
        <a href="/chat">Chat</a>
        <a href="/parsing">Parsing</a>
        <a href="/logout">Logout</a>
    </div>
    <hr>
    <h2>Input user id for parsing messages history to JSON</h2>
    <form action="/parsing" method="post">
        <table style="with: 50%">
            <td>User Id</td>
            <td><input type="text" name="user_id"/></td>
            </tr>
            <tr>
        </table>
        <input type="submit" value="Parsing"/>
    </form>
</div>
</body>
</html>